.button {
	border-radius: 6px;
	padding: 8px 30px;
	font-family: inherit;
	cursor: pointer;
	transition: background-color 0.25s;
	font-size: 16px;
	border: none;
	color: var(--white-color);
}

.buttonAccent {
	background-color: var(--primary-color);
}

.buttonAccent:hover {
	background-color: var(--primary-hover-color);
}
