.button {
	border-radius: 6px;
	border: none;
	padding: 8px 30px;
	font-size: 16px;
	font-weight: 400;
	cursor: pointer;
	transition: border-color 0.25s;
}

.button:hover {
	background-color: #22208f;
}

.buttonAccent {
	background-color: #312eb5;
}

.buttonSubmit {
	padding: 8px 20px;
	line-height: 26px;
	align-self: flex-start;
}