.button {
	font-family: inherit;
	cursor: pointer;
	transition: background-color 0.25s;
	font-size: 16px;
	border: none;
	color: var(--white-color);
	border-radius: 29px;
}

.buttonAccent {
	background-color: var(--primary-color);
}

.buttonAccent:hover {
	background-color: var(--primary-hover-color);
}

.buttonSmall {
	font-size: 16px;
	padding: 10px 25px;
}

.buttonBig {
	font-size: 15px;
	text-transform: uppercase;
	padding: 20px 60px;
}

.buttonExit {
	padding: 9px 14px 9px 9px;
}
