:root {
	--font-family: 'Open Sans', sans-serif;
	--primary-color: #fe724c;
	--primary-hover-color: #d95a3b;
	--text-color: #000;
	--text-secondary-color: #5b5b5e;
	--white-color: #fff;
	--separator-color: #d4d6e0;
}

body {
	font-family: var(--font-family);
	margin: 0;
}
