.layout {
	display: flex;
	width: 1054px;
	margin-inline: auto;
	min-height: 100vh;
}

.sidebar {
	padding: 30px;
	border-right: 1px solid var(--separator-color);
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	width: 240px;
	flex: none;
}

.user {
	display: flex;
	flex-direction: column;
}

.avatar {
	width: 90px;
	aspect-ratio: 1;
	border-radius: 50%;
	box-shadow: 0 8px 40px 0 rgba(255, 197, 41, 0.25);
}

.name {
	margin-top: 20px;
	font-weight: 700;
	font-size: 20px;
	color: var(--text-color);
}

.email {
	font-size: 14px;
	color: #9ea1b1;
	text-decoration: none;
}

.menu {
	margin-top: 46px;
	display: flex;
	flex-direction: column;
	row-gap: 34px;
}

.link {
	display: flex;
	align-items: center;
	column-gap: 14px;
	text-decoration: none;
	color: inherit;
	font-size: 16px;
}

.link:hover {
	color: var(--primary-color);
}

.active {
	color: var(--primary-color);
}

.linkIcon {
	width: 23px;
	height: 23px;
}

.exit {
	margin-top: auto;
	margin-bottom: 20px;
	display: flex;
	align-items: center;
	width: fit-content;
	column-gap: 9px;
}

.content {
	padding: 40px 60px;
	flex: auto;
}

.cartCount {
	font-size: 12px;
	line-height: 20px;
	color: var(--white-color);
	background-color: var(--primary-color);
	border-radius: 50%;
	height: 20px;
	aspect-ratio: 1;
	display: flex;
	align-items: center;
	justify-content: center;
}
